<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rosettascope">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/transparent_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/transparent_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RosettaScope"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ManualSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".TrainingActivity"
            android:exported="false" />
        <activity
            android:name=".ResultsActivity"
            android:exported="false" />
        <activity
            android:name=".PPDrillsActivity"
            android:exported="false" />
        <activity
            android:name=".TrainerActivity"
            android:exported="false" />
        <activity
            android:name=".PainPointsActivity"
            android:exported="false" />
        <activity
            android:name=".ReviseActivity"
            android:exported="false" />
        <activity
            android:name=".KTQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".ScavengerHuntActivity"
            android:exported="false" />
        <activity
            android:name=".KnowledgeTestActivity"
            android:exported="false" />
        <activity
            android:name=".ChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".WordActivity"
            android:exported="false" />
        <activity
            android:name=".WordBankActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RosettaScope">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.RosettaScope.CameraActivity" />

        <receiver
            android:name=".notifications.ReminderReceiver"
            android:exported="false" />
    </application>

</manifest>